<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="../static/style/css/style.css">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#if errors}}
            {{#each errors}}
                <div class="error-box">
                    <p>{{msg}}</p>
                </div>
            {{/each}}
        {{/if}}

        <nav>

            <!-- Do not forget to change the path to the image -->
            <img src="./style/img/art-logo.png" alt="logo">
            <a href="/">ArtGallery</a>

            <ul class="menu">
                <li><a href="/">Gallery</a></li>
                {{#if data}}
                <!-- Logged users -->
                <li><a href="/create">Create Publication</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <!-- Guest users -->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>

        </nav>

        <main>
            <section id="edit-container">
                <div class="edit-container-info">
                    <!-- Do not forget to change the path to the image -->
                    <img src="./style/img/blog-img12.jpg" alt="image">
                    {{#if postData}}
                    <form action="edit/{{_id}}" method="POST" class="container-text">
                        <h2>Edit</h2>
                        <p>Edit your masterpiece!</p>

                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" value={{postData.title}}>

                        <label for="painting-tech">Painting technique:</label>
                        <input type="text" id="painting-tech" name="technique" value={{postData.technique}}>

                        <label for="picture">Art picture:</label>
                        <input type="text" id="picture" name="image" value={{postData.image}}>

                        <label for="certificate">Certificate of authenticity:</label>
                        <input type="text" id="certificate" name="certificate" value={{#if postData.authCert}} Yes {{else}} No {{/if}}>

                        <button class="edit-btn">Edit</button>
                    </form>
                    {{/if}}

                </div>
            </section>
        </main>

        <footer>
            © Js Back-End Retake Exam 2021
        </footer>
    </div>
</body>

</html>